.signup-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 70vh; 
}

.signup-form-wrapper {
    width: 450px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 30px;
}

label {
    margin-bottom: 10px; 
    font-size: 18px; 
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 20px); 
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup-button {
    width: 100%;
    padding: 15px; 
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px; 
}

.signup-button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    font-size: 16px;
    margin-top: 10px;
}